html, body{
    margin: 0px;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

button{
    align-self: center;
    font-size: 12px;
}

.squareRow{
    display: flex;
    flex: 1;
}

.square{
    flex: 1;
}